<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practice">
        <activity
            android:name=".passdatausingintent.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".passdatausingintent.PassDataActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".chatapp.ChatActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".notificationprogressbar.AppActivity"
            android:exported="false" />
        <activity
            android:name=".notificationprogressbar.ProgressBarActivity"
            android:exported="true" />
        <activity
            android:name=".notification.AfterNotification"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".ImageSliderUsingViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".bottomnav.BottomNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".apiautozon.SellAutoZonActivity"
            android:exported="false" />
        <activity
            android:name=".tablayout.TabLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".apiautozon.AutoApiSignupActivity"
            android:exported="false" />
        <activity
            android:name=".apiautozon.AutoApiLoginActivity"
            android:exported="true" />
        <activity
            android:name=".apiautozon.HomeAutoZonActivity"
            android:exported="true" />
        <activity
            android:name=".navsidedrawer.NavDrawerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.bottomjulyActivity"
            android:exported="true" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.practice.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.SearchActivityPratice"
            android:exported="true" />
        <activity
            android:name=".aprilfourteen.BottomNavPraticeActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_nav_pratice" />
        <activity
            android:name=".aprilfourteen.StopwatchActivity"
            android:exported="true" />
        <activity
            android:name=".apiAll.RetrofitApiActivity"
            android:exported="true" />
        <activity
            android:name=".apilfive.activity.BottomNavigation"
            android:exported="true" />
        <activity
            android:name=".aprilfourpratice.activity.FragmentDemoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivityRoomDatabsePratice"
            android:exported="true"></activity>
        <activity
            android:name=".activity.MainActivityPraticeRV"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>